{
  "openapi": "3.0.4",
  "info": {
    "title": "Payven Fraud API",
    "description": "Payven Fraud — gercek zamanli risk skorlama ve fraud kural motoru.",
    "termsOfService": "https://payven.com.tr/sozlesmeler",
    "contact": {
      "name": "Payven Developer Support",
      "url": "https://docs.payven.com.tr",
      "email": "destek@payven.com.tr"
    },
    "license": {
      "name": "Payven API License",
      "url": "https://payven.com.tr/sozlesmeler/api-lisansi"
    },
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://fraud.payven.com.tr",
      "description": "Production"
    },
    {
      "url": "https://fraud-sandbox.payven.com.tr",
      "description": "Sandbox"
    }
  ],
  "paths": {
    "/api/v1/internal/fraud/evaluate": {
      "post": {
        "tags": [
          "InternalFraud"
        ],
        "parameters": [
          {
            "name": "X-Tenant-Id",
            "in": "header",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EvaluateFraudRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/EvaluateFraudRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/EvaluateFraudRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/EvaluationResultDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvaluationResultDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvaluationResultDto"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/api/v1/internal/fraud/finalize": {
      "post": {
        "tags": [
          "InternalFraud"
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FinalizeDecisionCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/FinalizeDecisionCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/FinalizeDecisionCommand"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/api/v1/platform/fraud/alerts": {
      "get": {
        "tags": [
          "PlatformFraudAlerts"
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/FraudAlertStatus"
            }
          },
          {
            "name": "process",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/FraudProcess"
            }
          },
          {
            "name": "assigned_to",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "search_term",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/FraudAlertDtoPaginatedList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FraudAlertDtoPaginatedList"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/FraudAlertDtoPaginatedList"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/platform/fraud/alerts/{id}/approve": {
      "post": {
        "tags": [
          "PlatformFraudAlerts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResolveBody"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ResolveBody"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ResolveBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/FraudAlertDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FraudAlertDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/FraudAlertDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/platform/fraud/alerts/{id}/reject": {
      "post": {
        "tags": [
          "PlatformFraudAlerts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResolveBody"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ResolveBody"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ResolveBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/FraudAlertDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FraudAlertDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/FraudAlertDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/platform/fraud/blacklist": {
      "get": {
        "tags": [
          "PlatformFraudBlacklist"
        ],
        "parameters": [
          {
            "name": "entry_type",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/BlacklistEntryType"
            }
          },
          {
            "name": "scope",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/FraudRuleScope"
            }
          },
          {
            "name": "include_global",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "search_term",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BlacklistEntryDtoPaginatedList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlacklistEntryDtoPaginatedList"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlacklistEntryDtoPaginatedList"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "PlatformFraudBlacklist"
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddBlacklistEntryRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AddBlacklistEntryRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AddBlacklistEntryRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BlacklistEntryDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlacklistEntryDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlacklistEntryDto"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/platform/fraud/blacklist/{id}": {
      "delete": {
        "tags": [
          "PlatformFraudBlacklist"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/platform/fraud/rules": {
      "get": {
        "tags": [
          "PlatformFraudRules"
        ],
        "parameters": [
          {
            "name": "scope",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/FraudRuleScope"
            }
          },
          {
            "name": "tenant_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "process",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/FraudProcess"
            }
          },
          {
            "name": "is_active",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "include_global",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "search_term",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/FraudRuleDtoPaginatedList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FraudRuleDtoPaginatedList"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/FraudRuleDtoPaginatedList"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "PlatformFraudRules"
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFraudRuleRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFraudRuleRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFraudRuleRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/FraudRuleDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FraudRuleDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/FraudRuleDto"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/platform/fraud/rules/{id}": {
      "patch": {
        "tags": [
          "PlatformFraudRules"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateFraudRuleRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateFraudRuleRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateFraudRuleRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/FraudRuleDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FraudRuleDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/FraudRuleDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "PlatformFraudRules"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/fraud/alerts": {
      "get": {
        "tags": [
          "TenantFraudAlerts"
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/FraudAlertStatus"
            }
          },
          {
            "name": "process",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/FraudProcess"
            }
          },
          {
            "name": "assigned_to",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "search_term",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/FraudAlertDtoPaginatedList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FraudAlertDtoPaginatedList"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/FraudAlertDtoPaginatedList"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/fraud/alerts/{id}/approve": {
      "post": {
        "tags": [
          "TenantFraudAlerts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResolveBody"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ResolveBody"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ResolveBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/FraudAlertDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FraudAlertDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/FraudAlertDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/fraud/alerts/{id}/reject": {
      "post": {
        "tags": [
          "TenantFraudAlerts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResolveBody"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ResolveBody"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ResolveBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/FraudAlertDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FraudAlertDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/FraudAlertDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/fraud/blacklist": {
      "get": {
        "tags": [
          "TenantFraudBlacklist"
        ],
        "parameters": [
          {
            "name": "entry_type",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/BlacklistEntryType"
            }
          },
          {
            "name": "scope",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/FraudRuleScope"
            }
          },
          {
            "name": "include_global",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "search_term",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BlacklistEntryDtoPaginatedList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlacklistEntryDtoPaginatedList"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlacklistEntryDtoPaginatedList"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "TenantFraudBlacklist"
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddBlacklistEntryRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AddBlacklistEntryRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AddBlacklistEntryRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BlacklistEntryDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlacklistEntryDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlacklistEntryDto"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/fraud/blacklist/{id}": {
      "delete": {
        "tags": [
          "TenantFraudBlacklist"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/fraud/logs": {
      "get": {
        "tags": [
          "TenantFraudLogs"
        ],
        "parameters": [
          {
            "name": "process",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/FraudProcess"
            }
          },
          {
            "name": "decision",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/FraudAction"
            }
          },
          {
            "name": "merchant_external_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "min_score",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "max_score",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "search_term",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/FraudCheckLogDtoPaginatedList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FraudCheckLogDtoPaginatedList"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/FraudCheckLogDtoPaginatedList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/fraud/merchants/{merchant_id}/policy": {
      "get": {
        "tags": [
          "TenantFraudMerchantPolicies"
        ],
        "parameters": [
          {
            "name": "merchant_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MerchantFraudPolicyBundleDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MerchantFraudPolicyBundleDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MerchantFraudPolicyBundleDto"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "TenantFraudMerchantPolicies"
        ],
        "parameters": [
          {
            "name": "merchant_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertMerchantPolicyRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertMerchantPolicyRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertMerchantPolicyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MerchantFraudPolicyBundleDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MerchantFraudPolicyBundleDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MerchantFraudPolicyBundleDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/fraud/rules": {
      "get": {
        "tags": [
          "TenantFraudRules"
        ],
        "parameters": [
          {
            "name": "scope",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/FraudRuleScope"
            }
          },
          {
            "name": "tenant_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "process",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/FraudProcess"
            }
          },
          {
            "name": "is_active",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "include_global",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "search_term",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/FraudRuleDtoPaginatedList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FraudRuleDtoPaginatedList"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/FraudRuleDtoPaginatedList"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "TenantFraudRules"
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFraudRuleRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFraudRuleRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFraudRuleRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/FraudRuleDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FraudRuleDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/FraudRuleDto"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/fraud/rules/{id}": {
      "patch": {
        "tags": [
          "TenantFraudRules"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateFraudRuleRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateFraudRuleRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateFraudRuleRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/FraudRuleDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FraudRuleDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/FraudRuleDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "TenantFraudRules"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ProblemDetails": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "nullable": true
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "detail": {
            "type": "string",
            "nullable": true
          },
          "instance": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": {}
      },
      "FraudAlertDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "fraud_check_log_id": {
            "type": "string",
            "format": "uuid"
          },
          "tenant_id": {
            "type": "string",
            "format": "uuid"
          },
          "merchant_external_id": {
            "type": "string",
            "nullable": true
          },
          "process": {
            "$ref": "#/components/schemas/FraudProcess"
          },
          "external_txn_id": {
            "type": "string",
            "nullable": true
          },
          "amount_minor": {
            "type": "integer",
            "format": "int64"
          },
          "currency": {
            "type": "string",
            "nullable": true
          },
          "score": {
            "type": "integer",
            "format": "int32"
          },
          "reason_codes": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "$ref": "#/components/schemas/FraudAlertStatus"
          },
          "assigned_to": {
            "type": "string",
            "nullable": true
          },
          "reviewed_by": {
            "type": "string",
            "nullable": true
          },
          "reviewed_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "notes": {
            "type": "string",
            "nullable": true
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          },
          "created": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": false
      },
      "AddBlacklistEntryRequest": {
        "type": "object",
        "properties": {
          "scope": {
            "$ref": "#/components/schemas/FraudRuleScope"
          },
          "tenant_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "entry_type": {
            "$ref": "#/components/schemas/BlacklistEntryType"
          },
          "value": {
            "type": "string",
            "nullable": true
          },
          "display_value": {
            "type": "string",
            "nullable": true
          },
          "reason": {
            "type": "string",
            "nullable": true
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "BlacklistEntryDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "scope": {
            "$ref": "#/components/schemas/FraudRuleScope"
          },
          "tenant_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "entry_type": {
            "$ref": "#/components/schemas/BlacklistEntryType"
          },
          "display_value": {
            "type": "string",
            "nullable": true
          },
          "reason": {
            "type": "string",
            "nullable": true
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "is_active": {
            "type": "boolean"
          },
          "created": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": false
      },
      "FraudAlertDtoPaginatedList": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FraudAlertDto"
            },
            "nullable": true
          },
          "page": {
            "type": "integer",
            "format": "int32"
          },
          "total_pages": {
            "type": "integer",
            "format": "int32",
            "readOnly": true
          },
          "total_count": {
            "type": "integer",
            "format": "int32"
          },
          "has_previous_page": {
            "type": "boolean",
            "readOnly": true
          },
          "has_next_page": {
            "type": "boolean",
            "readOnly": true
          }
        },
        "additionalProperties": false
      },
      "BlacklistEntryDtoPaginatedList": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BlacklistEntryDto"
            },
            "nullable": true
          },
          "page": {
            "type": "integer",
            "format": "int32"
          },
          "total_pages": {
            "type": "integer",
            "format": "int32",
            "readOnly": true
          },
          "total_count": {
            "type": "integer",
            "format": "int32"
          },
          "has_previous_page": {
            "type": "boolean",
            "readOnly": true
          },
          "has_next_page": {
            "type": "boolean",
            "readOnly": true
          }
        },
        "additionalProperties": false
      },
      "FraudCheckLogDtoPaginatedList": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FraudCheckLogDto"
            },
            "nullable": true
          },
          "page": {
            "type": "integer",
            "format": "int32"
          },
          "total_pages": {
            "type": "integer",
            "format": "int32",
            "readOnly": true
          },
          "total_count": {
            "type": "integer",
            "format": "int32"
          },
          "has_previous_page": {
            "type": "boolean",
            "readOnly": true
          },
          "has_next_page": {
            "type": "boolean",
            "readOnly": true
          }
        },
        "additionalProperties": false
      },
      "FraudRuleDtoPaginatedList": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FraudRuleDto"
            },
            "nullable": true
          },
          "page": {
            "type": "integer",
            "format": "int32"
          },
          "total_pages": {
            "type": "integer",
            "format": "int32",
            "readOnly": true
          },
          "total_count": {
            "type": "integer",
            "format": "int32"
          },
          "has_previous_page": {
            "type": "boolean",
            "readOnly": true
          },
          "has_next_page": {
            "type": "boolean",
            "readOnly": true
          }
        },
        "additionalProperties": false
      },
      "EvaluateFraudRequest": {
        "required": [
          "amount_minor",
          "external_txn_id",
          "merchant_external_id",
          "process"
        ],
        "type": "object",
        "properties": {
          "process": {
            "$ref": "#/components/schemas/FraudProcess"
          },
          "external_txn_id": {
            "type": "string",
            "nullable": true
          },
          "merchant_external_id": {
            "type": "string",
            "nullable": true
          },
          "amount_minor": {
            "type": "integer",
            "format": "int64"
          },
          "currency": {
            "type": "string",
            "nullable": true
          },
          "customer": {
            "$ref": "#/components/schemas/FraudCustomerSignals"
          },
          "instrument": {
            "$ref": "#/components/schemas/FraudInstrumentSignals"
          },
          "context": {
            "$ref": "#/components/schemas/FraudContextSignals"
          },
          "extras": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "EvaluationResultDto": {
        "type": "object",
        "properties": {
          "decision_id": {
            "type": "string",
            "format": "uuid"
          },
          "action": {
            "$ref": "#/components/schemas/FraudAction"
          },
          "score": {
            "type": "integer",
            "format": "int32"
          },
          "reason_codes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "matched_rule_ids": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "nullable": true
          },
          "challenge": {
            "$ref": "#/components/schemas/FraudChallenge"
          },
          "review_ttl_seconds": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "latency_ms": {
            "type": "integer",
            "format": "int32"
          },
          "provider_used": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "FraudChallenge": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "nullable": true
          },
          "params": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "FraudContextSignals": {
        "type": "object",
        "properties": {
          "channel": {
            "type": "string",
            "nullable": true
          },
          "connector_code": {
            "type": "string",
            "nullable": true
          },
          "three_d_status": {
            "type": "string",
            "nullable": true
          },
          "session_id": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "FraudCustomerSignals": {
        "type": "object",
        "properties": {
          "identifier": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "ip_address": {
            "type": "string",
            "nullable": true
          },
          "user_agent": {
            "type": "string",
            "nullable": true
          },
          "device_fingerprint": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "FraudInstrumentSignals": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "nullable": true
          },
          "bin": {
            "type": "string",
            "nullable": true
          },
          "last4": {
            "type": "string",
            "nullable": true
          },
          "pan_hash": {
            "type": "string",
            "nullable": true
          },
          "issuer_country": {
            "type": "string",
            "nullable": true
          },
          "holder_name": {
            "type": "string",
            "nullable": true
          },
          "exp_year": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "exp_month": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "iban_hash": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "FinalizeDecisionCommand": {
        "required": [
          "decision_id",
          "outcome"
        ],
        "type": "object",
        "properties": {
          "decision_id": {
            "type": "string",
            "format": "uuid"
          },
          "outcome": {
            "$ref": "#/components/schemas/TxnOutcome"
          },
          "bank_response_code": {
            "type": "string",
            "nullable": true
          },
          "completed_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "FraudCheckLogDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "tenant_id": {
            "type": "string",
            "format": "uuid"
          },
          "merchant_external_id": {
            "type": "string",
            "nullable": true
          },
          "process": {
            "$ref": "#/components/schemas/FraudProcess"
          },
          "external_txn_id": {
            "type": "string",
            "nullable": true
          },
          "amount_minor": {
            "type": "integer",
            "format": "int64"
          },
          "currency": {
            "type": "string",
            "nullable": true
          },
          "score": {
            "type": "integer",
            "format": "int32"
          },
          "decision": {
            "$ref": "#/components/schemas/FraudAction"
          },
          "reason_codes": {
            "type": "string",
            "nullable": true
          },
          "matched_rule_ids": {
            "type": "string",
            "nullable": true
          },
          "latency_ms": {
            "type": "integer",
            "format": "int32"
          },
          "provider_used": {
            "type": "string",
            "nullable": true
          },
          "outcome": {
            "$ref": "#/components/schemas/TxnOutcome"
          },
          "checked_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": false
      },
      "UpsertMerchantPolicyItem": {
        "type": "object",
        "properties": {
          "process": {
            "$ref": "#/components/schemas/FraudProcess"
          },
          "enabled": {
            "type": "boolean"
          },
          "reason": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "UpsertMerchantPolicyRequest": {
        "type": "object",
        "properties": {
          "policies": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UpsertMerchantPolicyItem"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "MerchantFraudPolicyBundleDto": {
        "type": "object",
        "properties": {
          "tenant_id": {
            "type": "string",
            "format": "uuid"
          },
          "merchant_external_id": {
            "type": "string",
            "nullable": true
          },
          "policies": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MerchantFraudPolicyDto"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "MerchantFraudPolicyDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "tenant_id": {
            "type": "string",
            "format": "uuid"
          },
          "merchant_external_id": {
            "type": "string",
            "nullable": true
          },
          "process": {
            "$ref": "#/components/schemas/FraudProcess"
          },
          "enabled": {
            "type": "boolean"
          },
          "reason": {
            "type": "string",
            "nullable": true
          },
          "last_modified": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": false
      },
      "CreateFraudRuleRequest": {
        "type": "object",
        "properties": {
          "scope": {
            "$ref": "#/components/schemas/FraudRuleScope"
          },
          "tenant_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "process": {
            "$ref": "#/components/schemas/FraudProcess"
          },
          "code": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "$ref": "#/components/schemas/FraudRuleType"
          },
          "expression_json": {
            "type": "string",
            "nullable": true
          },
          "action": {
            "$ref": "#/components/schemas/FraudAction"
          },
          "priority": {
            "type": "integer",
            "format": "int32"
          },
          "is_active": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "UpdateFraudRuleRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "expression_json": {
            "type": "string",
            "nullable": true
          },
          "action": {
            "$ref": "#/components/schemas/FraudAction"
          },
          "priority": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "is_active": {
            "type": "boolean",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "FraudRuleDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "scope": {
            "$ref": "#/components/schemas/FraudRuleScope"
          },
          "tenant_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "process": {
            "$ref": "#/components/schemas/FraudProcess"
          },
          "code": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "$ref": "#/components/schemas/FraudRuleType"
          },
          "expression_json": {
            "type": "string",
            "nullable": true
          },
          "action": {
            "$ref": "#/components/schemas/FraudAction"
          },
          "priority": {
            "type": "integer",
            "format": "int32"
          },
          "is_active": {
            "type": "boolean"
          },
          "created": {
            "type": "string",
            "format": "date-time"
          },
          "last_modified": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": false
      },
      "BlacklistEntryType": {
        "enum": [
          "card",
          "email",
          "ip",
          "device",
          "iban",
          "merchant_external_id"
        ],
        "type": "string"
      },
      "FraudAction": {
        "enum": [
          "approve",
          "challenge",
          "review",
          "block"
        ],
        "type": "string"
      },
      "FraudAlertStatus": {
        "enum": [
          "open",
          "approved",
          "rejected",
          "expired"
        ],
        "type": "string"
      },
      "FraudProcess": {
        "enum": [
          "sanal_pos",
          "para_transferi",
          "fatura_odeme"
        ],
        "type": "string"
      },
      "FraudRuleScope": {
        "enum": [
          "global",
          "tenant"
        ],
        "type": "string"
      },
      "FraudRuleType": {
        "enum": [
          "velocity",
          "amount_threshold",
          "geo",
          "blacklist",
          "custom"
        ],
        "type": "string"
      },
      "TxnOutcome": {
        "enum": [
          "success",
          "failed",
          "cancelled",
          "charged_back"
        ],
        "type": "string"
      },
      "ResolveBody": {
        "type": "object",
        "properties": {
          "notes": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Identity servisinden alinan Keycloak JWT. Format: `Authorization: Bearer <token>`. Token alma: POST /api/v1/auth/{slug}/token"
      },
      "oauth2": {
        "type": "oauth2",
        "description": "Keycloak Authorization Code (PKCE) — Swagger UI uzerinden login.",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "http://keycloak:8080/realms/payven/protocol/openid-connect/auth",
            "tokenUrl": "http://keycloak:8080/realms/payven/protocol/openid-connect/token",
            "scopes": {
              "openid": "OpenID Connect",
              "profile": "User profile",
              "email": "User email"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "InternalFraud"
    },
    {
      "name": "PlatformFraudAlerts"
    },
    {
      "name": "PlatformFraudBlacklist"
    },
    {
      "name": "PlatformFraudRules"
    },
    {
      "name": "TenantFraudAlerts"
    },
    {
      "name": "TenantFraudBlacklist"
    },
    {
      "name": "TenantFraudLogs"
    },
    {
      "name": "TenantFraudMerchantPolicies"
    },
    {
      "name": "TenantFraudRules"
    }
  ]
}
