{
  "openapi": "3.0.4",
  "info": {
    "title": "Payven Fraud API",
    "description": "Payven Fraud — gerçek zamanlı risk skorlama ve fraud kural motoru.",
    "termsOfService": "https://payven.com.tr/sozlesmeler",
    "contact": {
      "name": "Payven Developer Support",
      "url": "https://docs.payven.com.tr",
      "email": "destek@payven.com.tr"
    },
    "license": {
      "name": "Payven API License",
      "url": "https://payven.com.tr/sozlesmeler/api-lisansi"
    },
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://fraud-sandbox.payven.com.tr",
      "description": "Sandbox"
    },
    {
      "url": "https://fraud.payven.com.tr",
      "description": "Production"
    }
  ],
  "paths": {
    "/api/v1/platform/fraud/alerts": {
      "get": {
        "tags": [
          "PlatformFraudAlerts"
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/FraudAlertStatus"
            }
          },
          {
            "name": "process",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/FraudProcess"
            }
          },
          {
            "name": "assigned_to",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "search_term",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FraudAlertDtoPaginatedList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "operationId": "listPlatformFraudAlerts",
        "summary": "Platform fraud uyarılarını listele"
      }
    },
    "/api/v1/platform/fraud/alerts/{id}/approve": {
      "post": {
        "tags": [
          "PlatformFraudAlerts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResolveBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FraudAlertDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "operationId": "approvePlatformFraudAlert",
        "summary": "Platform fraud uyarısını onayla"
      }
    },
    "/api/v1/platform/fraud/alerts/{id}/reject": {
      "post": {
        "tags": [
          "PlatformFraudAlerts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResolveBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FraudAlertDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "operationId": "rejectPlatformFraudAlert",
        "summary": "Platform fraud uyarısını reddet"
      }
    },
    "/api/v1/platform/fraud/blacklist": {
      "get": {
        "tags": [
          "PlatformFraudBlacklist"
        ],
        "parameters": [
          {
            "name": "entry_type",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/BlacklistEntryType"
            }
          },
          {
            "name": "scope",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/FraudRuleScope"
            }
          },
          {
            "name": "include_global",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "search_term",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlacklistEntryDtoPaginatedList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "operationId": "listPlatformFraudBlacklist",
        "summary": "Platform kara liste kayıtlarını listele"
      },
      "post": {
        "tags": [
          "PlatformFraudBlacklist"
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddBlacklistEntryRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlacklistEntryDto"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "operationId": "createPlatformFraudBlacklist",
        "summary": "Platform kara liste kaydı oluştur"
      }
    },
    "/api/v1/platform/fraud/blacklist/{id}": {
      "delete": {
        "tags": [
          "PlatformFraudBlacklist"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "operationId": "deletePlatformFraudBlacklist",
        "summary": "Platform kara liste kaydını sil"
      }
    },
    "/api/v1/platform/fraud/rules": {
      "get": {
        "tags": [
          "PlatformFraudRules"
        ],
        "parameters": [
          {
            "name": "scope",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/FraudRuleScope"
            }
          },
          {
            "name": "tenant_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "process",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/FraudProcess"
            }
          },
          {
            "name": "is_active",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "include_global",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "search_term",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FraudRuleDtoPaginatedList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "operationId": "listPlatformFraudRules",
        "summary": "Platform fraud kurallarını listele"
      },
      "post": {
        "tags": [
          "PlatformFraudRules"
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFraudRuleRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FraudRuleDto"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "operationId": "createPlatformFraudRule",
        "summary": "Platform fraud kuralı oluştur"
      }
    },
    "/api/v1/platform/fraud/rules/{id}": {
      "patch": {
        "tags": [
          "PlatformFraudRules"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateFraudRuleRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FraudRuleDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "operationId": "patchPlatformFraudRule",
        "summary": "Platform fraud kuralını kısmi güncelle"
      },
      "delete": {
        "tags": [
          "PlatformFraudRules"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "operationId": "deletePlatformFraudRule",
        "summary": "Platform fraud kuralını sil"
      }
    },
    "/api/v1/fraud/alerts": {
      "get": {
        "tags": [
          "TenantFraudAlerts"
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/FraudAlertStatus"
            }
          },
          {
            "name": "process",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/FraudProcess"
            }
          },
          {
            "name": "assigned_to",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "search_term",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FraudAlertDtoPaginatedList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "operationId": "listTenantFraudAlerts",
        "summary": "Fraud uyarılarını listele"
      }
    },
    "/api/v1/fraud/alerts/{id}/approve": {
      "post": {
        "tags": [
          "TenantFraudAlerts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResolveBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FraudAlertDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "operationId": "approveTenantFraudAlert",
        "summary": "Fraud uyarısını onayla"
      }
    },
    "/api/v1/fraud/alerts/{id}/reject": {
      "post": {
        "tags": [
          "TenantFraudAlerts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResolveBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FraudAlertDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "operationId": "rejectTenantFraudAlert",
        "summary": "Fraud uyarısını reddet"
      }
    },
    "/api/v1/fraud/blacklist": {
      "get": {
        "tags": [
          "TenantFraudBlacklist"
        ],
        "parameters": [
          {
            "name": "entry_type",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/BlacklistEntryType"
            }
          },
          {
            "name": "scope",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/FraudRuleScope"
            }
          },
          {
            "name": "include_global",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "search_term",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlacklistEntryDtoPaginatedList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "operationId": "listTenantFraudBlacklist",
        "summary": "Kara liste kayıtlarını listele"
      },
      "post": {
        "tags": [
          "TenantFraudBlacklist"
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddBlacklistEntryRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlacklistEntryDto"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "operationId": "createTenantFraudBlacklist",
        "summary": "Kara liste kaydı oluştur"
      }
    },
    "/api/v1/fraud/blacklist/{id}": {
      "delete": {
        "tags": [
          "TenantFraudBlacklist"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "operationId": "deleteTenantFraudBlacklist",
        "summary": "Kara liste kaydını sil"
      }
    },
    "/api/v1/fraud/logs": {
      "get": {
        "tags": [
          "TenantFraudLogs"
        ],
        "parameters": [
          {
            "name": "process",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/FraudProcess"
            }
          },
          {
            "name": "decision",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/FraudAction"
            }
          },
          {
            "name": "merchant_external_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "min_score",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "max_score",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "search_term",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FraudCheckLogDtoPaginatedList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "operationId": "listTenantFraudLogs",
        "summary": "Fraud log kayıtlarını listele"
      }
    },
    "/api/v1/fraud/merchants/{merchant_id}/policy": {
      "get": {
        "tags": [
          "TenantFraudMerchantPolicies"
        ],
        "parameters": [
          {
            "name": "merchant_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MerchantFraudPolicyBundleDto"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "operationId": "getMerchantFraudPolicy",
        "summary": "Bayi fraud politikasını getir"
      },
      "patch": {
        "tags": [
          "TenantFraudMerchantPolicies"
        ],
        "parameters": [
          {
            "name": "merchant_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertMerchantPolicyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MerchantFraudPolicyBundleDto"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "operationId": "updateMerchantFraudPolicy",
        "summary": "Bayi fraud politikasını güncelle"
      }
    },
    "/api/v1/fraud/rules": {
      "get": {
        "tags": [
          "TenantFraudRules"
        ],
        "parameters": [
          {
            "name": "scope",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/FraudRuleScope"
            }
          },
          {
            "name": "tenant_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "process",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/FraudProcess"
            }
          },
          {
            "name": "is_active",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "include_global",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "search_term",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FraudRuleDtoPaginatedList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "operationId": "listTenantFraudRules",
        "summary": "Fraud kurallarını listele"
      },
      "post": {
        "tags": [
          "TenantFraudRules"
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFraudRuleRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FraudRuleDto"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "operationId": "createTenantFraudRule",
        "summary": "Fraud kuralı oluştur"
      }
    },
    "/api/v1/fraud/rules/{id}": {
      "patch": {
        "tags": [
          "TenantFraudRules"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateFraudRuleRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FraudRuleDto"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "operationId": "patchTenantFraudRule",
        "summary": "Fraud kuralını kısmi güncelle"
      },
      "delete": {
        "tags": [
          "TenantFraudRules"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "operationId": "deleteTenantFraudRule",
        "summary": "Fraud kuralını sil"
      }
    }
  },
  "components": {
    "schemas": {
      "ProblemDetails": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "nullable": true
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "detail": {
            "type": "string",
            "nullable": true
          },
          "instance": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": {}
      },
      "FraudAlertDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "fraud_check_log_id": {
            "type": "string",
            "format": "uuid"
          },
          "tenant_id": {
            "type": "string",
            "format": "uuid"
          },
          "merchant_external_id": {
            "type": "string",
            "nullable": true
          },
          "process": {
            "$ref": "#/components/schemas/FraudProcess"
          },
          "external_txn_id": {
            "type": "string",
            "nullable": true
          },
          "amount_minor": {
            "type": "integer",
            "format": "int64"
          },
          "currency": {
            "type": "string",
            "nullable": true
          },
          "score": {
            "type": "integer",
            "format": "int32"
          },
          "reason_codes": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "$ref": "#/components/schemas/FraudAlertStatus"
          },
          "assigned_to": {
            "type": "string",
            "nullable": true
          },
          "reviewed_by": {
            "type": "string",
            "nullable": true
          },
          "reviewed_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "notes": {
            "type": "string",
            "nullable": true
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          },
          "created": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": false
      },
      "AddBlacklistEntryRequest": {
        "type": "object",
        "properties": {
          "scope": {
            "$ref": "#/components/schemas/FraudRuleScope"
          },
          "tenant_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "entry_type": {
            "$ref": "#/components/schemas/BlacklistEntryType"
          },
          "value": {
            "type": "string",
            "nullable": true
          },
          "display_value": {
            "type": "string",
            "nullable": true
          },
          "reason": {
            "type": "string",
            "nullable": true
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "BlacklistEntryDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "scope": {
            "$ref": "#/components/schemas/FraudRuleScope"
          },
          "tenant_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "entry_type": {
            "$ref": "#/components/schemas/BlacklistEntryType"
          },
          "display_value": {
            "type": "string",
            "nullable": true
          },
          "reason": {
            "type": "string",
            "nullable": true
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "is_active": {
            "type": "boolean"
          },
          "created": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": false
      },
      "FraudAlertDtoPaginatedList": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FraudAlertDto"
            },
            "nullable": true
          },
          "page": {
            "type": "integer",
            "format": "int32"
          },
          "total_pages": {
            "type": "integer",
            "format": "int32",
            "readOnly": true
          },
          "total_count": {
            "type": "integer",
            "format": "int32"
          },
          "has_previous_page": {
            "type": "boolean",
            "readOnly": true
          },
          "has_next_page": {
            "type": "boolean",
            "readOnly": true
          }
        },
        "additionalProperties": false
      },
      "BlacklistEntryDtoPaginatedList": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BlacklistEntryDto"
            },
            "nullable": true
          },
          "page": {
            "type": "integer",
            "format": "int32"
          },
          "total_pages": {
            "type": "integer",
            "format": "int32",
            "readOnly": true
          },
          "total_count": {
            "type": "integer",
            "format": "int32"
          },
          "has_previous_page": {
            "type": "boolean",
            "readOnly": true
          },
          "has_next_page": {
            "type": "boolean",
            "readOnly": true
          }
        },
        "additionalProperties": false
      },
      "FraudCheckLogDtoPaginatedList": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FraudCheckLogDto"
            },
            "nullable": true
          },
          "page": {
            "type": "integer",
            "format": "int32"
          },
          "total_pages": {
            "type": "integer",
            "format": "int32",
            "readOnly": true
          },
          "total_count": {
            "type": "integer",
            "format": "int32"
          },
          "has_previous_page": {
            "type": "boolean",
            "readOnly": true
          },
          "has_next_page": {
            "type": "boolean",
            "readOnly": true
          }
        },
        "additionalProperties": false
      },
      "FraudRuleDtoPaginatedList": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FraudRuleDto"
            },
            "nullable": true
          },
          "page": {
            "type": "integer",
            "format": "int32"
          },
          "total_pages": {
            "type": "integer",
            "format": "int32",
            "readOnly": true
          },
          "total_count": {
            "type": "integer",
            "format": "int32"
          },
          "has_previous_page": {
            "type": "boolean",
            "readOnly": true
          },
          "has_next_page": {
            "type": "boolean",
            "readOnly": true
          }
        },
        "additionalProperties": false
      },
      "EvaluateFraudRequest": {
        "required": [
          "amount_minor",
          "external_txn_id",
          "merchant_external_id",
          "process"
        ],
        "type": "object",
        "properties": {
          "process": {
            "$ref": "#/components/schemas/FraudProcess"
          },
          "external_txn_id": {
            "type": "string",
            "nullable": true
          },
          "merchant_external_id": {
            "type": "string",
            "nullable": true
          },
          "amount_minor": {
            "type": "integer",
            "format": "int64"
          },
          "currency": {
            "type": "string",
            "nullable": true
          },
          "customer": {
            "$ref": "#/components/schemas/FraudCustomerSignals"
          },
          "instrument": {
            "$ref": "#/components/schemas/FraudInstrumentSignals"
          },
          "context": {
            "$ref": "#/components/schemas/FraudContextSignals"
          },
          "extras": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "EvaluationResultDto": {
        "type": "object",
        "properties": {
          "decision_id": {
            "type": "string",
            "format": "uuid"
          },
          "action": {
            "$ref": "#/components/schemas/FraudAction"
          },
          "score": {
            "type": "integer",
            "format": "int32"
          },
          "reason_codes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "matched_rule_ids": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "nullable": true
          },
          "challenge": {
            "$ref": "#/components/schemas/FraudChallenge"
          },
          "review_ttl_seconds": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "latency_ms": {
            "type": "integer",
            "format": "int32"
          },
          "provider_used": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "FraudChallenge": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "nullable": true
          },
          "params": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "FraudContextSignals": {
        "type": "object",
        "properties": {
          "channel": {
            "type": "string",
            "nullable": true
          },
          "connector_code": {
            "type": "string",
            "nullable": true
          },
          "three_d_status": {
            "type": "string",
            "nullable": true
          },
          "session_id": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "FraudCustomerSignals": {
        "type": "object",
        "properties": {
          "identifier": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "ip_address": {
            "type": "string",
            "nullable": true
          },
          "user_agent": {
            "type": "string",
            "nullable": true
          },
          "device_fingerprint": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "FraudInstrumentSignals": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "nullable": true
          },
          "bin": {
            "type": "string",
            "nullable": true
          },
          "last4": {
            "type": "string",
            "nullable": true
          },
          "pan_hash": {
            "type": "string",
            "nullable": true
          },
          "issuer_country": {
            "type": "string",
            "nullable": true
          },
          "holder_name": {
            "type": "string",
            "nullable": true
          },
          "exp_year": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "exp_month": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "iban_hash": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "FinalizeDecisionCommand": {
        "required": [
          "decision_id",
          "outcome"
        ],
        "type": "object",
        "properties": {
          "decision_id": {
            "type": "string",
            "format": "uuid"
          },
          "outcome": {
            "$ref": "#/components/schemas/TxnOutcome"
          },
          "bank_response_code": {
            "type": "string",
            "nullable": true
          },
          "completed_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "FraudCheckLogDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "tenant_id": {
            "type": "string",
            "format": "uuid"
          },
          "merchant_external_id": {
            "type": "string",
            "nullable": true
          },
          "process": {
            "$ref": "#/components/schemas/FraudProcess"
          },
          "external_txn_id": {
            "type": "string",
            "nullable": true
          },
          "amount_minor": {
            "type": "integer",
            "format": "int64"
          },
          "currency": {
            "type": "string",
            "nullable": true
          },
          "score": {
            "type": "integer",
            "format": "int32"
          },
          "decision": {
            "$ref": "#/components/schemas/FraudAction"
          },
          "reason_codes": {
            "type": "string",
            "nullable": true
          },
          "matched_rule_ids": {
            "type": "string",
            "nullable": true
          },
          "latency_ms": {
            "type": "integer",
            "format": "int32"
          },
          "provider_used": {
            "type": "string",
            "nullable": true
          },
          "outcome": {
            "$ref": "#/components/schemas/TxnOutcome"
          },
          "checked_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": false
      },
      "UpsertMerchantPolicyItem": {
        "type": "object",
        "properties": {
          "process": {
            "$ref": "#/components/schemas/FraudProcess"
          },
          "enabled": {
            "type": "boolean"
          },
          "reason": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "UpsertMerchantPolicyRequest": {
        "type": "object",
        "properties": {
          "policies": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UpsertMerchantPolicyItem"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "MerchantFraudPolicyBundleDto": {
        "type": "object",
        "properties": {
          "tenant_id": {
            "type": "string",
            "format": "uuid"
          },
          "merchant_external_id": {
            "type": "string",
            "nullable": true
          },
          "policies": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MerchantFraudPolicyDto"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "MerchantFraudPolicyDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "tenant_id": {
            "type": "string",
            "format": "uuid"
          },
          "merchant_external_id": {
            "type": "string",
            "nullable": true
          },
          "process": {
            "$ref": "#/components/schemas/FraudProcess"
          },
          "enabled": {
            "type": "boolean"
          },
          "reason": {
            "type": "string",
            "nullable": true
          },
          "last_modified": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": false
      },
      "CreateFraudRuleRequest": {
        "type": "object",
        "properties": {
          "scope": {
            "$ref": "#/components/schemas/FraudRuleScope"
          },
          "tenant_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "process": {
            "$ref": "#/components/schemas/FraudProcess"
          },
          "code": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "$ref": "#/components/schemas/FraudRuleType"
          },
          "expression_json": {
            "type": "string",
            "nullable": true
          },
          "action": {
            "$ref": "#/components/schemas/FraudAction"
          },
          "priority": {
            "type": "integer",
            "format": "int32"
          },
          "is_active": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "UpdateFraudRuleRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "expression_json": {
            "type": "string",
            "nullable": true
          },
          "action": {
            "$ref": "#/components/schemas/FraudAction"
          },
          "priority": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "is_active": {
            "type": "boolean",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "FraudRuleDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "scope": {
            "$ref": "#/components/schemas/FraudRuleScope"
          },
          "tenant_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "process": {
            "$ref": "#/components/schemas/FraudProcess"
          },
          "code": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "$ref": "#/components/schemas/FraudRuleType"
          },
          "expression_json": {
            "type": "string",
            "nullable": true
          },
          "action": {
            "$ref": "#/components/schemas/FraudAction"
          },
          "priority": {
            "type": "integer",
            "format": "int32"
          },
          "is_active": {
            "type": "boolean"
          },
          "created": {
            "type": "string",
            "format": "date-time"
          },
          "last_modified": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": false
      },
      "BlacklistEntryType": {
        "enum": [
          "card",
          "email",
          "ip",
          "device",
          "iban",
          "merchant_external_id"
        ],
        "type": "string"
      },
      "FraudAction": {
        "enum": [
          "approve",
          "challenge",
          "review",
          "block"
        ],
        "type": "string"
      },
      "FraudAlertStatus": {
        "enum": [
          "open",
          "approved",
          "rejected",
          "expired"
        ],
        "type": "string"
      },
      "FraudProcess": {
        "enum": [
          "sanal_pos",
          "para_transferi",
          "fatura_odeme"
        ],
        "type": "string"
      },
      "FraudRuleScope": {
        "enum": [
          "global",
          "tenant"
        ],
        "type": "string"
      },
      "FraudRuleType": {
        "enum": [
          "velocity",
          "amount_threshold",
          "geo",
          "blacklist",
          "custom"
        ],
        "type": "string"
      },
      "TxnOutcome": {
        "enum": [
          "success",
          "failed",
          "cancelled",
          "charged_back"
        ],
        "type": "string"
      },
      "ResolveBody": {
        "type": "object",
        "properties": {
          "notes": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Identity servisinden alinan Keycloak JWT. Format: `Authorization: Bearer <token>`. Token alma: POST /api/v1/auth/{slug}/token"
      },
      "oauth2": {
        "type": "oauth2",
        "description": "Keycloak Authorization Code (PKCE) — Swagger UI uzerinden login.",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "http://keycloak:8080/realms/payven/protocol/openid-connect/auth",
            "tokenUrl": "http://keycloak:8080/realms/payven/protocol/openid-connect/token",
            "scopes": {
              "openid": "OpenID Connect",
              "profile": "User profile",
              "email": "User email"
            }
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Gecersiz istek (eksik alan, bozuk JSON).",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/ProblemDetails"
            },
            "example": {
              "type": "https://docs.payven.com.tr/errors/bad_request",
              "title": "Gecersiz istek",
              "status": 400,
              "code": "bad_request",
              "detail": "amount.amount alani zorunlu.",
              "correlation_id": "9f1c8e76-2a3b-4f12-9c8d-12cb24a8a8a8"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "`Authorization` header eksik, gecersiz veya expire.",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/ProblemDetails"
            },
            "example": {
              "type": "https://docs.payven.com.tr/errors/invalid_token",
              "title": "Gecersiz token",
              "status": 401,
              "code": "invalid_token",
              "detail": "Access token gecersiz veya expire — refresh edin."
            }
          }
        }
      },
      "Forbidden": {
        "description": "Yetki yok, lisans yok veya merchant pasif.",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/ProblemDetails"
            },
            "example": {
              "type": "https://docs.payven.com.tr/errors/forbidden",
              "title": "Yetki yok",
              "status": 403,
              "code": "forbidden",
              "detail": "Bu rol bu kaynagi goremez."
            }
          }
        }
      },
      "NotFound": {
        "description": "Kaynak bulunamadi.",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/ProblemDetails"
            },
            "example": {
              "type": "https://docs.payven.com.tr/errors/resource_not_found",
              "title": "Kaynak bulunamadi",
              "status": 404,
              "code": "resource_not_found"
            }
          }
        }
      },
      "Conflict": {
        "description": "Idempotency cakismasi veya gecersiz durum gecisi.",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/ProblemDetails"
            },
            "example": {
              "type": "https://docs.payven.com.tr/errors/idempotency_key_in_use",
              "title": "Idempotency-Key cakismasi",
              "status": 409,
              "code": "idempotency_key_in_use",
              "detail": "Bu Idempotency-Key daha once farkli bir istek govdesi ile kullanildi."
            }
          }
        }
      },
      "UnprocessableEntity": {
        "description": "Validasyon veya is kurali ihlali (`bank_declined`, `validation_failed`, `fraud_blocked` vb.).",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/ProblemDetails"
            },
            "example": {
              "type": "https://docs.payven.com.tr/errors/bank_declined",
              "title": "Banka islemi reddetti",
              "status": 422,
              "code": "bank_declined",
              "detail": "Yetersiz bakiye (banka kodu: 51)",
              "provider_error_code": "51"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Rate limit asildi. `Retry-After` header'ina uyun.",
        "headers": {
          "Retry-After": {
            "description": "Yeniden denemeden once beklemeniz gereken saniye sayisi.",
            "schema": {
              "type": "integer"
            }
          }
        },
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/ProblemDetails"
            },
            "example": {
              "type": "https://docs.payven.com.tr/errors/rate_limit_exceeded",
              "title": "Istek limiti asildi",
              "status": 429,
              "code": "rate_limit_exceeded"
            }
          }
        }
      },
      "ServerError": {
        "description": "Sunucu hatasi. Exponential backoff ile tekrar deneyin (idempotency-key ile).",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/ProblemDetails"
            },
            "example": {
              "type": "https://docs.payven.com.tr/errors/internal_server_error",
              "title": "Sunucu hatasi",
              "status": 500,
              "code": "internal_server_error"
            }
          }
        }
      },
      "ServiceUnavailable": {
        "description": "Hedef konnektor gecici olarak devre disi (circuit breaker acik) veya bagimlilik servisi erisilemez.",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/ProblemDetails"
            },
            "example": {
              "type": "https://docs.payven.com.tr/errors/connector_unavailable",
              "title": "Konnektor erisilemez",
              "status": 503,
              "code": "connector_unavailable"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "PlatformFraudAlerts",
      "x-displayName": "Platform Fraud Uyarıları"
    },
    {
      "name": "PlatformFraudBlacklist",
      "x-displayName": "Platform Kara Liste"
    },
    {
      "name": "PlatformFraudRules",
      "x-displayName": "Platform Fraud Kuralları"
    },
    {
      "name": "TenantFraudAlerts",
      "x-displayName": "Fraud Uyarıları"
    },
    {
      "name": "TenantFraudBlacklist",
      "x-displayName": "Kara Liste"
    },
    {
      "name": "TenantFraudLogs",
      "x-displayName": "Fraud Logları"
    },
    {
      "name": "TenantFraudMerchantPolicies",
      "x-displayName": "Bayi Fraud Politikaları"
    },
    {
      "name": "TenantFraudRules",
      "x-displayName": "Fraud Kuralları"
    }
  ]
}